# Selendra Chain is developed by Selendra Network Team
* @selendra

# Blockchain Core
@laynath242

# Network
@hangsiahong

## Mobile
@sokunsamnang

## Dapps
@mrrbrilliant
@san-vuthy

# Docs           
@rithythul
