# Selendra Chain is developed by Selendra Network Team
* @selendra

# Dev lead
@laynath242

# Network support
@hangsiahong

# Dev team

## Web
@iamcombo

## Mobile
@daveatcor
@sokunsamnang

## Dapps
@mrrbrilliant
@san-vuthy

# Docs           
@rithythul
