[workspace]

members = [
    "node",
    "runtime",
    "consensus/aggregator",
    "consensus/clique",
    "consensus/finality-selendra",
    "pallets/selendra",
    "pallets/elections",
    "pallets/support",
    "pallets/committee-management",
    "primitives",
]

[profile.release]
# Substrate runtime requires unwinding.
panic = "unwind"

[profile.production]
inherits = "release"
lto = true
codegen-units = 1

[workspace.package]
authors = ["Selendra"]
edition = "2021"
homepage = "https://selendra.org"
repository = "https://github.com/selendra/selendra"

[workspace.dependencies]
# Crate
async-trait = { version = "0.1.68" }
bytes = { version = "1.0.1" }
derive_more = { version = "0.99.17" }
env_logger = { version = "0.10.0" }
futures = { version = "0.3.28" }
futures-timer = { version = "3.0.2" }
hex = { version = "0.4.3" }
hex-literal = { version = "0.3.4" }
ip_network = { version = "0.4.1" }
jsonrpsee = { version = "0.16.2" }
libp2p = { version = "0.49.0" }
log = { version = "0.4.18" }
lru = { version = "0.7.8" }
parking_lot = { version = "0.12.1" }
paste = { version = "1.0.11" }
serde_json = { version = "1.0.96" }
thiserror = { version = "1.0.40" }
tiny-bip39 = { version = "1.0.0" }
tokio = { version = "1.17.0" }
hash-db = { version = "0.16", default-features = false }
rand_pcg = { version = "0.3.1", default-features = false }
rand = { version = "0.8.5", default-features = false }
scale-info = { version = "2.0", default-features = false }
smallvec = { version = "1", default-features = false }
serde = { version = "1.0.163", default-features = false }

# Aleph Consensus
current-selendra-bft = { package = "aleph-bft", version = "0.20.5" }
current-selendra-bft-rmc = { package = "aleph-bft-rmc", version = "0.6" }
legacy-selendra-bft = { package = "aleph-bft", version = "0.19.3" }
legacy-selendra-bft-rmc = { package = "aleph-bft-rmc", version = "0.5.2" }
selendra-bft-crypto = { package = "aleph-bft-crypto", version = "0.5.2" }
selendra-bft-mock = { package = "aleph-bft-mock", version = "0.8.3" }
selendra-bft-rmc = { package = "aleph-bft-rmc", version = "0.6.1" }
selendra-bft-types = { package = "aleph-bft-types", version = "0.8.1" }

# Subsrate Pallet
frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
frame-benchmarking-cli = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
frame-election-provider-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
frame-executive = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
frame-system-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
frame-try-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }

pallet-aura = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-authorship = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-contracts = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-contracts-primitives = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-collective = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-democracy = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-identity = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-membership = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-multisig = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-nomination-pools = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-nomination-pools-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-insecure-randomness-collective-flip = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-scheduler = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-session = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-staking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-sudo = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-transaction-payment = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-transaction-payment-rpc = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-treasury = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-utility = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
pallet-vesting = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }

sp-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-application-crypto = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-arithmetic = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-consensus = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-block-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-blockchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-inherents = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-keystore = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-offchain = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-session = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-staking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-state-machine = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-trie = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }
sp-version = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41", default-features = false }

sc-basic-authorship = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-block-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-chain-spec = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-cli = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-client-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-consensus = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-consensus-aura = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-consensus-slots = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-executor = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-keystore = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-network = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-network-common = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-network-sync = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-rpc = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-rpc-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-service = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-telemetry = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-transaction-pool = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-transaction-pool-api = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
sc-utils = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }

substrate-build-script-utils = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
substrate-frame-rpc-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
substrate-prometheus-endpoint = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
substrate-test-runtime-client = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
substrate-test-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
substrate-test-client = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
substrate-wasm-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }
try-runtime-cli = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.41" }

# Local Pallet
pallet-selendra = { path = "pallets/selendra", default-features = false }
pallet-committee-management = { path = "pallets/committee-management", default-features = false }
pallet-elections = { path = "pallets/elections", default-features = false }
pallets-support = { path = "pallets/support", default-features = false }

# Local Core
selendra-primitives = { path = "primitives", default-features = false }
selendra-runtime-common  = { path = "runtime/common", default-features = false }
selendra-runtime = { path = "runtime" }
selendra-rpc = { path = "node/rpc" }
finality-selendra = { path = "consensus/finality-selendra" }
network-clique = { path = "consensus/clique" }
legacy-selendra-aggregator = { package = "legacy-aggregator", path = "consensus/aggregator/legacy" }
current-selendra-aggregator = { package = "aggregator", path = "consensus/aggregator" }
