[package]
name = "pallet-committee-management"
version = "0.2.0"
authors = ["Cardinal", "Aleph Zero Foundation"]
edition.workspace = true

[dependencies]
parity-scale-codec = { workspace = true, features = ["derive"] }
rand = { workspace = true }
rand_pcg = { workspace = true }
scale-info = { workspace = true, features = ["derive"] }
log = { workspace = true }

sp-io = { workspace = true }
sp-runtime = { workspace = true }
sp-staking = { workspace = true }
sp-std = { workspace = true }
frame-support = { workspace = true }
frame-system = { workspace = true }
pallet-authorship = { workspace = true }
pallet-session = { workspace = true }
pallet-staking = { workspace = true }

selendra-primitives = { workspace = true }
pallet-aleph = { workspace = true }
pallet-elections = { workspace = true }

[features]
default = ["std"]
std = [
    "parity-scale-codec/std",
    "rand/std",
    "scale-info/std",
    "log/std",
    "sp-io/std",
    "sp-runtime/std",
    "sp-staking/std",
    "sp-std/std",
    "frame-support/std",
    "frame-system/std",
    "pallet-authorship/std",
    "pallet-session/std",
    "pallet-staking/std",
    "selendra-primitives/std",
	"pallet-aleph/std",
    "pallet-elections/std",
]

try-runtime = [
    "frame-support/try-runtime",
]
